services:
  db:
    image: mysql:8.0
    container_name: aidmakers-mysql
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build:
      context: ./backend
    container_name: aidmakers-api
    restart: always
    depends_on:
      - db
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"


volumes:
  mysql_data:
